{% extends "base.twig" %}

{% block content %}
<title>Sunrise2014</title>

{% if tweets %}

  <ul>
    {% for tweet in tweets %}
      <li>{{ tweet.id }}: {{ tweet.body }}</li>
    {% endfor %}
  </ul>

{% endif %}

{% endblock %}
